@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ff9e42;
  --color-secondary: #70c1b3;
  --color-background-light: #fbf9f4;
  --color-background-dark: #23190f;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background-light);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

